@page "/GoogleMap/Detail/{id:int}"

<h3>Detail</h3>

@if (mapMarkerViewModel == null)
{
    <p>Loading...</p>
}
else
{

    <RadzenStack>
        <RadzenFieldset Text="MapMarker Detail">
            <RadzenStack>

                <RadzenRow AlignItems="AlignItems.Center" Class="rz-mb-2">
                    <RadzenColumn SizeSM="12" SizeMD="2" SizeLG="2">
                        <RadzenLabel Text="Id" for="id" />
                    </RadzenColumn>
                    <RadzenColumn SizeSM="12" SizeMD="10" SizeLG="10">
                        <RadzenTextBox id="id" class="form-control" placeholder="Id" ReadOnly=true
                                       Value="@mapMarkerViewModel.Id.ToString()" />
                    </RadzenColumn>
                </RadzenRow>

                <RadzenRow AlignItems="AlignItems.Center" Class="rz-mb-2">
                    <RadzenColumn SizeSM="12" SizeMD="2" SizeLG="2">
                        <RadzenLabel Text="Title" for="title" />
                    </RadzenColumn>
                    <RadzenColumn SizeSM="12" SizeMD="10" SizeLG="10">
                        <RadzenTextBox id="title" class="form-control" placeholder="Title" ReadOnly=true
                                       Value="@mapMarkerViewModel.Title" />
                    </RadzenColumn>
                </RadzenRow>

                <RadzenRow AlignItems="AlignItems.Center" Class="rz-mb-2">
                    <RadzenColumn SizeSM="12" SizeMD="2" SizeLG="2">
                        <RadzenLabel Text="Lat" for="lat" />
                    </RadzenColumn>
                    <RadzenColumn SizeSM="12" SizeMD="10" SizeLG="10">
                        <RadzenTextBox id="lat" class="form-control" placeholder="Lat" ReadOnly=true
                                       Value="@mapMarkerViewModel.Lat.ToString()" />
                    </RadzenColumn>
                </RadzenRow>

                <RadzenRow AlignItems="AlignItems.Center" Class="rz-mb-2">
                    <RadzenColumn SizeSM="12" SizeMD="2" SizeLG="2">
                        <RadzenLabel Text="Lng" for="lng" />
                    </RadzenColumn>
                    <RadzenColumn SizeSM="12" SizeMD="10" SizeLG="10">
                        <RadzenTextBox id="lng" class="form-control" placeholder="Lng" ReadOnly=true
                                       Value="@mapMarkerViewModel.Lng.ToString()" />
                    </RadzenColumn>
                </RadzenRow>

            </RadzenStack>
        </RadzenFieldset>
    </RadzenStack>

    <RadzenButton Text="Back" Icon="arrow_back" Class="rz-mt-2"
                  Click="NavigatetoGoogleMapIndex"
                  ButtonStyle="ButtonStyle.Primary" />

}

@code {

    [Parameter]
    public int id { get; set; }

    private MapMarkerViewModel? mapMarkerViewModel;

    protected override async Task OnInitializedAsync()
    {
        if (mapMarkerViewModel == null)
        {
            var mapMarker = await MapMarkerService.GetbyId(id);
            if (mapMarker == null)
                return;

            mapMarkerViewModel = Mapper.Map<MapMarker, MapMarkerViewModel>(mapMarker);
        }
    }


    private void NavigatetoGoogleMapIndex() => NavigationManager.NavigateTo("/GoogleMap");

}
