@page "/BlogPost/Create"

<PageTitle>Create</PageTitle>

<h1>Create</h1>
<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <BlazorAppGenericComponents.Components.Create TModel="BlogPost"
                                                      TViewModel="BlogPostViewModel"
                                                      NavigateLinkAfterSubmit="/BlogPost" />

    </div>
</div>

<div>
    <a href="/">Back</a>
</div>