@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<div class="mb-3">
    <p>
        <b>Admin User</b> <br />
        email: admin@admin.com <br />
        pass: 123456
    </p>
</div>