@page "/BlogPost/Create"

<RadzenText Text="Create" TextStyle="TextStyle.H5" />

@if (blogPostViewModel == null)
{
    <p>Loading...</p>
}
else
{

    <RadzenStack>
        <RadzenFieldset Text="New Post">
            <RadzenStack Gap="2rem">
                <RadzenTemplateForm TItem="BlogPostViewModel" Data="blogPostViewModel" Submit="HandleValidSubmit">

                    <RadzenRow Class="rz-mb-2">
                        <RadzenColumn Size="12" SizeMD="3" SizeLG="3">
                            <RadzenLabel Component="textBoxTitle" Text="Title" style="width: 100%" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="9" SizeLG="9">
                            <RadzenTextBox Name="textBoxTitle" @bind-Value="@blogPostViewModel.Title" Placeholder="Title" style="width: 100%" />
                            <RadzenRequiredValidator Component="textBoxTitle" />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow Class="rz-mb-2">
                        <RadzenColumn Size="12" SizeMD="3" SizeLG="3">
                            <RadzenLabel Component="textBoxContent" Text="Content" style="width: 100%" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="9" SizeLG="9">
                            <RadzenTextBox Name="textBoxContent" @bind-Value="@blogPostViewModel.Content" Placeholder="Content" style="width: 100%" />
                            <RadzenRequiredValidator Component="textBoxContent" />
                        </RadzenColumn>
                    </RadzenRow>


                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="save" Text="Save" Variant="Variant.Flat" />
                    </RadzenStack>

                </RadzenTemplateForm>
            </RadzenStack>
        </RadzenFieldset>
    </RadzenStack>

    <RadzenButton Text="Back" Icon="arrow_back" Class="rz-mt-2"
                  Click="NavigatetoBlogPostIndex"
                  ButtonStyle="ButtonStyle.Primary" />

}

@code {
    private BlogPostViewModel? blogPostViewModel;

    protected override void OnInitialized()
    {
        blogPostViewModel = new();
    }

    protected async Task HandleValidSubmit()
    {
        if (blogPostViewModel == null) return;

        var blogPost = Mapper.Map<BlogPostViewModel, BlogPost>(blogPostViewModel);
        bool result = await BlogPostService.AddBlogPostAsync(blogPost);
        if (result)
            NavigationManager.NavigateTo("/BlogPost/");

    }

    private void NavigatetoBlogPostIndex() => NavigationManager.NavigateTo("/BlogPost");

}
