@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Access denied</h1>

    <RadzenAlert Text="You do not have access to this resource." AlertStyle="AlertStyle.Danger" AllowClose="false" />

    <RadzenAlert Text="Message: You do not have required role." AlertStyle="AlertStyle.Danger" AllowClose="false" />

</header>

