@namespace BlazorAppGenericComponents.Components
@using BlazorAppGenericComponents.ViewModels;

@typeparam TModel
@typeparam TViewModel


@if (viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">
            @nameof(BaseViewModel.Id)
        </dt>
        <dd class="col-sm-10">
            @typeof(TViewModel).GetProperty(nameof(BaseViewModel.Id))?.GetValue(viewModel)?.ToString()
        </dd>
        @foreach (var property in typeof(TViewModel).GetProperties())
        {
            if (property.Name != nameof(BaseViewModel.Id))
            {
                <dt class="col-sm-2">
                    @property.Name
                </dt>
                <dd class="col-sm-10">
                    @property.GetValue(viewModel)?.ToString()
                </dd>
            }
        }
    </dl>
    <button class="btn btn-danger" @onclick="DeleteButtonClick">Delete</button>
}
